<!DOCTYPE html>
<html>
  
  <head>
    <title>Online Health Tracker</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
            <h1>Create Account</h1>
            <label for="un">User Email:</label><br>
            <input  id= 'un'class='username' type="email" placeholder="Plese enter a valid email"/>
            <label for="pw">Password:</label><br>
            <input id= 'pw' class='password' type="password" placeholder="Please enter a strong password"/>
            <label for="cpw">Conform Password:</label><br>
            <input id= 'cpw' class='cpassword' type="password" placeholder="Please enter password once again"/>
            <button class='createcls'>Create Account</button>
          <a class="message" href="login-page" color="green" >Already had an account ?</a>
        </form>
      </div>
    </div>
  </body>
  <script src="../static/createaccount.js"></script>
 

</html>


