<!DOCTYPE html>
<html>
  
  <head>
    <title>Online Health Tracker</title>
    <link rel="stylesheet" href="../static/CSS/dailyrecord.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container">  
      <form id="contact" class = "profile-form">
      <h3>User Daily Workout Information </h3>
      <h4>Please visit link for calories chart related to food</h4>
      <a href="https://www.calories.info/food/fruit-juices" target="_blank">Visit calories.com</a>
      
      <h4>Please visit link for calories chart related to Workout</h4>
      <a href="https://www.health.harvard.edu/diet-and-weight-loss/calories-burned-in-30-minutes-of-leisure-and-routine-activities" target="_blank">Visit www.health.harvard.edu</a>

      <h4>Plese fill all required coloumns </h4>
      
      <fieldset>
        <label for="sdate">Select Date:</label>
        <input class= 'selecteddate' type="date" id="sdate">
      </fieldset>
      <fieldset>
        <label for="cin">Calories Gained:</label><br>
        <input class= 'cintake' id='cin' placeholder="Plese enter calories gained today" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <label for="cout">Calories Burned:</label><br>
        <input class= 'couttake' id='cout' placeholder="Plese enter calories burned today" type="text" tabindex="2" required autofocus>
      </fieldset>
      <fieldset>
        <input type=button class='recordcls'  value='Create Record'>
      </fieldset>
      <fieldset>
        <input type=button onClick="location.href='dashboard-page'" value='DashBoard Page'>
      </fieldset>
    <!-- <div id="butn">
    <fieldset>
        <button type="button home-button" id="button1" class='recordcls' >Create Record</button>
    </fieldset>
    <fieldset>
        <button type="button contact-button" id="button2" class= 'dashboardcls'>Dash Board Page</button>
    </fieldset> -->
    <div>
    </form>
</div>
<body>
<script src="../static/dailyrecord.js"></script>

</html>