<!DOCTYPE html>
<html>
<head>
    <title>Online Health Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>
    <div id="chartContainer1" style="width: 45%; height: 300px;display: inline-block;"></div> 
    <div id="chartContainer2" style="width: 45%; height: 300px;display: inline-block;"></div><br/>
    <div id="chartContainer3" style="width: 45%; height: 300px;display: inline-block;"></div>
    <div id="chartContainer4" style="width: 45%; height: 300px;display: inline-block;"></div>
</body>

<script src="../static/graph.js"></script>
</html>





<!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
