<!DOCTYPE html>
<html>
  
  <head>
    <title>Online Health Tracker</title>
    <link rel="stylesheet" href="../static/CSS/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container">  
      <form id="contact" class = "profile-form">
      <h3>User Personal Information </h3>
      <h4>Plese fill all required coloumns </h4>
      <fieldset>
        <input class= 'firstname' placeholder=" First Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'middlename' placeholder=" Middle Name (optional)" type="text" tabindex="2" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'lastname' placeholder=" Last Name" type="text" tabindex="3" required autofocus>
      </fieldset>
      <fieldset>
        <label for="birthday">Date Of Birth:</label>
        <input class= 'dateofbirth' type="date" id="birthday" name="birthday" required> 
      </fieldset>
      <fieldset>
        <input class= 'height' placeholder=" Height (in Cms)" type="text" tabindex="5" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'weight' placeholder=" Weight (in Kgs)" type="text" tabindex="6" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'sex' placeholder=" Sex" type="text" tabindex="7" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'address' placeholder=" Address (optional)" type="text" tabindex="8" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'email' placeholder=" Email (optional)" type="email" tabindex="9" required autofocus>
      </fieldset>
      <fieldset>
        <input class= 'phonenumber' placeholder=" Phone Number (optional)" type="tel" tabindex="10" required autofocus>
      </fieldset>
      <fieldset>
        <!-- <button class='profilecls'>Create Profile</button> -->
        <button class='profilecls'>Create Profile</button>
        <!-- <button class= 'profilecls' name="Create Profile" type="submit" id="contact-submit">Create Profile</button> -->
        <!-- <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button> -->
      </fieldset>
      </form>
    </div>
  <body>
  <script src="../static/profile.js"></script>
 
</html>
    